<section id="my-skills">
  <h2>My Skills</h2>
  <div>
    <div class="skillset">
      <div>
        <img
          src="assets/img/my_skills/angular.svg"
          alt="angular-image"
        />
        <div>Angular</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/typescript.svg"
          alt="typescript-image"
        />
        <div>TypeScript</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/javascript.svg"
          alt="javacript-image"
        />
        <div>JavaScript</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/firebase.svg"
          alt="firebase-img"
        />
        <div>Firebase</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/rest-api.svg"
          alt="rest-api-image"
        />
        <div>Rest-API</div>
      </div>

      <div>
        <img src="assets/img/my_skills/css.svg" alt="css-image" />
        <div>CSS</div>
      </div>
      <div>
        <img src="assets/img/my_skills/html.svg" alt="html-image" />
        <div>HTML</div>
      </div>
      <div>
        <img src="assets/img/my_skills/git.svg" alt="git-image" />
        <div>GIT</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/material-design.svg"
          alt="material-design-image"
        />
        <div>Material</div>
        <div>Design</div>
      </div>
      <div>
        <img src="assets/img/my_skills/scrum.svg" alt="scrum-image" />
        <div>Scrum</div>
      </div>
      <div>
        <img
          src="assets/img/my_skills/growth-white.svg"
          alt="growth-mindset"
        />
        <div>Groth</div>
        <div>Mindset</div>
      </div>
      <div class="placeholder-img"></div>
    </div>

    <div class="focus-container">
      <div class="background-img">
        <span class="text">
          I am currently focusing on
        </span>
        <div class="current-technology">
          <div></div>
          <span>Angular</span>
        </div>
      </div>
    </div>
  </div>

<div class="lets-talk-container">
  <a href="#lets-talk">
    <button>Let's talk</button>
  </a>
</div>

</section>
