$background-primary: rgba(38, 46, 52, 1);
$background-secondary: rgba(137, 188, 217, 1);
$text-primary: rgba(248, 245, 236, 1);

header {
  display: none;
  position: sticky;
  top: 0px;
  background-color: $background-secondary;
  display: flex;
  justify-content: center;
  z-index: 2;

  >div {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    height: 10vh;
  }
}

.author-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  >div {
    width: 50px;
    height: 40px;
    background-image: url('../../assets/img/navbar/logo_default.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  >b {
    color: $text-primary;
    font-size: 14px;
  }

  >span {
    color: $background-primary;
    font-size: 14px;
  }
}

.navigation-container {
  background-color: $background-secondary;
  display: flex;
  gap: 112px;

  >a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $background-primary;
    transition: color 200ms ease-in-out;

    &:hover {
      color: $text-primary;
    }
  }

}

.language-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
  }

  button.active img {
    padding: 6px;
    background-color: rgba(38, 46, 52, 0.2);
    border-radius: 4px;
  }

  button:first-child:hover {
    img {
      content: url('../../assets/img/navbar/de_hover.svg');
      transform: scale(1.1);
    }
  }

  button:nth-child(2):hover {
    img {
      content: url('../../assets/img/navbar/en_hover.svg');
      transform: scale(1.1);
    }
  }
}

.d-none {
  display: none;
}

@media (max-width: 1023px) {
  header {
    display: none;
  }

  .navigation-container {
    display: none;
  }

  header>div {
    padding: 16px 50px;
  }
}
