<header [ngStyle]="getHeaderStyles()">
  <div class="nav-wrapper">
    <a href="#developer" class="author-badge">
      <div class="logo.img"></div>
      <b>D. Dona</b>
      <span>developer</span>
    </a>
    <div class="navigation-container">
      <a href="#about-me">{{ "NAVBAR.ABOUTME" | translate }}</a>
      <a href="#my-skills">{{ "NAVBAR.SKILLS" | translate }}</a>
      <a href="#my-projects">{{ "NAVBAR.PROJECTS" | translate }}</a>
      <a href="#contact-me">{{ "NAVBAR.CONTACT" | translate }}</a>
    </div>

    <div class="language-container">
      <img
        (click)="translateWebsite('de')"
        [src]="deImageSrc"
        alt="de-language"
        [ngClass]="{'active': isActive('de')}"
      />
      <img
        (click)="translateWebsite('en')"
        [src]="enImageSrc"
        alt="en-language"
        [ngClass]="{'active': isActive('en')}"
      />
    </div>
  </div>
</header>

