<section id="why-me">

<h2 >Why me</h2>

<div>
  <div class="why-me-container">
    <div class="group-why-me">
      <img src="assets/img/why_me/location_icon.svg" alt="" srcset="">
      <span><span class="highlighter">I am</span> located in Heidelberg</span>
    </div>
    <p>
      I’m passionate about coding because it combines creativity with problem-solving.
      I enjoy tackling challenges with analytical thinking and persistence,
      and I believe in the power of collaboration to create the best solutions.
    </p>
    <a href="#contact-me"><button>Let's talk</button></a>
  </div>
</div>

</section>
