$background-primary: rgba(38, 46, 52, 1);
$background-secondary: rgba(137, 188, 217, 1);
$text-primary: rgba(248, 245, 236, 1);

section {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  color: $text-primary;
  padding: 0 16px;
  padding-top: 12vh;
  min-height: 400px;
  gap: 2.2rem;

  >div {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 196px;
  }
}

h2 {
  font-size: clamp(2rem, 6vw, 4.2rem);
  color: $background-secondary;
}

.why-me-container {
  display: flex;
  gap: 8rem;

  >div {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  span {
    font-size: 1.2rem;
  }

  >p {
    flex: 1;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.3;
  }

  >a {
    text-decoration: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  button {
    border: unset;
    cursor: pointer;
    color: rgb(137, 188, 217);
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(137, 188, 217);
    padding: 12px 24px;
    font-size: 18px;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.16);

  }
}

@media (max-width: 1023px) {
  .why-me-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    >p {
      max-width: 400px;
      text-align: center;
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

  .why-me-container {
    button {
      display: none;
    }
  }
}

.typewriter-container {
  // background-color: red;
  display: flex;
  width: 100%;
  max-width: 300px;

  img {
    margin-right: 8px;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    width: clamp(50px, 5vw, 60px);
    height: clamp(50px, 5vw, 60px);
  }
}

.typewriter {
  // background-color: aqua;
  font-size: 1.7rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;


  .highlighter {
    color: $background-secondary;
    font-size: clamp(16px, 5vw, 24px);
  }

  .cursor {
    animation: blink 0.8s infinite;
    font-weight: 900;
    font-size: 30px;
    color: rgba(137, 188, 217, 1);
  }

  .dynamic-text {
    font-size: clamp(16px, 5vw, 24px);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
