<section id="about-me">

<h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>

<div>
  <div class="why-me-container">
    <div class="group-why-me">

      <div class="typewriter-container">
        <img [src]="currentImage" alt="Icon" width="40" height="40">
        <div class="typewriter">
          <b class="highlighter">I am&nbsp;</b>
          <span class="dynamic-text">{{ currentText }}</span>
          <span class="cursor">|</span>
        </div>
      </div>


    </div>
    <p>{{ 'ABOUT_ME.DESCRIPTION' | translate }}</p>
    <a href="#contact-me"><button>Let's talk</button></a>
  </div>
</div>

</section>
