
mat-toolbar {
  --mat-sys-surface: rgba(137, 188, 217, 1);
  height: 8vh;
  height: 8dvh;
  display: none;
}

mat-icon {
  color: rgba(248, 245, 236, 1);
}

// .fixed-toolbar {
//   position: relative;
// }

.menu-button {
  margin-left: auto;
}

@media (max-width: 1023px) {
  mat-toolbar {
    display: flex;
  }
}
