@import '../../../styles.scss';

section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: clamp(40px, 6vw, 110px);
  padding: 0 clamp(16px, 4vw, 24px);
}

.image-wrapper {
  position: relative;
  display: grid;
  max-width: 600px;
  // margin: 0 auto;
  width: 100%;
}

.background-image {
  background-image: url('../../../assets/img/landing_page/background_default.svg');
  width: 100%;
  padding-top: 100%;
  grid-area: 1 / 1;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  transform: translate(5%, 30px);
}

.overlay {
  grid-area: 1 / 1;
  place-self: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 1;
}

.profile-photo {
  background-image: url('../../../assets/img/landing_page/profilfoto.png');
  background-size: contain;
}

.image-wrapper:hover .background-image {
  background-image: url('../../../assets/img/landing_page/background_hover.svg');
}

.developer-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  padding-bottom: 136px;
  padding-bottom: clamp(96px, 5vw, 120px);


  >a {
    background-image: url('../../../assets/img/landing_page/arrow_down.svg');
    height: 112px;
    width: 48px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  >a:hover {
    background-image: url('../../../assets/img/landing_page/arrow_down_hover.svg');
  }
}

.author-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(137, 188, 217, 1);

  >div {
    width: 50px;
    height: 40px;
    background-image: url('../../../assets/img/navbar/logo_hover.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  >b {
    color: $font-color;
    font-size: 14px;
  }

  >span {
    color: $secondary-bg-color;
    font-size: 14px;
  }
}

.developer-card {
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  >h1 {
    font-size: 6rem;
    white-space: nowrap;
    font-size: clamp(3rem, 5vw, 4.5rem);
    margin-bottom: 20px;
  }
}


.typewriter-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56px;
  width: 100%;
  // min-width: 464px;
  position: relative;
  >div {
    position: absolute;
    font-size: clamp(1.45rem, 3vw, 3rem);
    overflow: hidden;
    border-right: 3px solid $secondary-bg-color;
    animation: blink 0.5s step-end infinite alternate;
  }
  // >span:empty::after {
  //   content: 'Frontend Developer.';
  //   color: $font-color;
  // }
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: $secondary-bg-color;
  }
}
