<app-navbar-mobile (displayChanged)="toggleMenu()"></app-navbar-mobile>
<section id="developerProfil">
  <div class="image-wrapper">
    <div class="background-image"></div>
    <div class="overlay profile-photo" #profilPhoto></div>
    <div class="overlay menu" #menuList>
      <button mat-fab (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
      </button>
      <a href="#why-me">Why me</a>
      <a href="#my-skills">Skills</a>
      <a href="#my-projects">Projects</a>
      <a href="#contact-me">Contact</a>
      <!-- <a href="#language">Language</a> -->
    </div>
  </div>

  <div class="developer-data">
    <div class="author-badge">
      <div class="navbar-logo"></div>
      <b>D. Dona</b>
      <span>developer</span>
    </div>
    <div class="developer-card">
      <h1>&nbsp;Daniele Dona&nbsp;</h1>
      <app-typewriter-animation></app-typewriter-animation>

    </div>
    <a href="#why-me" class="arrow-down"></a>
  </div>
</section>
