<app-navbar-mobile></app-navbar-mobile>
<section id="developerProfil">
  <div class="image-wrapper">
    <div class="background-image"></div>
    <div class="overlay profile-photo"></div>
    <div class="overlay hover-background"></div>
  </div>

  <div class="developer-data">
    <div class="author-badge">
      <div class="navbar-logo"></div>
      <b>D. Dona</b>
      <span>developer</span>
    </div>
    <div class="developer-card">
      <h1>Daniele Dona</h1>
      <div class="typewriter-animation">
        <div class="text" #textElement></div>
      </div>
    </div>
    <a href="#why-me" class="arrow-down"></a>
  </div>
</section>

<app-navbar></app-navbar>
