$background-primary: rgba(38, 46, 52, 1);
$background-secondary: rgba(137, 188, 217, 1);
$text-primary: rgba(248, 245, 236, 1);

section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: clamp(16px, 6vw, 110px);
  padding: 0 clamp(16px, 4vw, 24px);
}

.image-wrapper {
  position: relative;
  display: grid;
  max-width: 600px;
  // margin: 0 auto;
  width: 100%;
  transition: background-image 150ms ease-in-out;

  &:hover .background-image {
    background-image: url('../../../assets/img/landing_page/background_hover.svg');
  }

}

.background-image {
  background-image: url('../../../assets/img/landing_page/background_default.svg');
  width: 100%;
  padding-top: 100%;
  grid-area: 1 / 1;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  transform: translate(5%, 30px);
}

.overlay {
  grid-area: 1 / 1;
  place-self: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 1;
}

.profile-photo {
  background-image: url('../../../assets/img/landing_page/profilfoto.png');
  background-size: contain;
  transition: opacity 50ms ease
}


.menu {
  background-image: url('../../../assets/img/landing_page/menu_image.svg');
  width: 140%;
  height: 110%;
  background-size: contain;
  display: none;
}

.developer-data {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  padding-bottom: 136px;
}

.scroll-btn-container {
  img {
    height: 112px;
    width: 100%;
    max-width: 40px;
    transition: background-image 150ms ease-in-out;

    &:hover {
      content: url('../../../assets/img/landing_page/arrow_down_hover.svg');
    }
  }
}


.social-media-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  bottom: 485px;
  right: 0px;

  >a:hover{
    transform: scale(1.12);
  }
}

.author-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >div {
    width: 50px;
    height: 40px;
    background-image: url('../../../assets/img/navbar/logo_hover.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  >b {
    color: $text-primary;
    font-size: 14px;
  }

  >span {
    color: $background-secondary;
    font-size: 14px;
  }
}

.developer-card {
  color: $text-primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  >h1 {
    font-size: 6rem;
    white-space: nowrap;
    font-size: clamp(2.6rem, 5vw, 4.5rem);
  }
}

.overlay.menu {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.overlay.menu button {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  padding: 4px 10px;
  font-size: 18px;
  margin-bottom: 16px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #d1d0d0;
    cursor: pointer;
  }
}

.overlay.menu a {
  color: $background-primary;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
  transition: color 0.2s;

  &:hover {
    color: #e0e0e0;
  }
}


.overlay.menu.visible {
  display: flex;
}

.app-typewriter-animation {
  width: 100%;
}


.d-none {
  display: none;
}


@media (max-width: 1023px) {
  section {
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    height: auto;
  }

  .author-badge {
    display: none;
  }

  app-navbar {
    display: none;
  }

  .developer-data {
    justify-content: flex-start;
    padding-bottom: 0;
    width: 100%;
  }

  .developer-card {
    width: 100%;
  }

  .image-wrapper {
    max-width: 400px;
  }

  h1 {
    padding-top: 4px;
    padding-bottom: 0;
  }

  .background-image {
    transform: translate(4%, 1px);
  }
  .social-media-container {
    display: none;
  }

}

@media (max-width: 720px) {
  .developer-data {
    gap: 10px;

    >a {
      max-width: 32px;
    }
  }

  .image-wrapper {
    max-width: 320px;
  }
}

@media (max-height: 540px) {
  .image-wrapper {
    max-width: 300px;
  }

  section {
    margin-top: 80px;
  }
}

@media (max-height: 345px) {
  .image-wrapper {
    max-width: 300px;
  }

  section {
    margin-top: 180px;
  }

  h1 {
    padding-top: 20px;
  }
}
