<app-navbar-mobile (displayChanged)="toggleMenu()"></app-navbar-mobile>
<section>
  <div class="image-wrapper">
    <div class="background-image"></div>
    <div class="overlay profile-photo" #profilPhoto></div>
    <div class="overlay menu" #menuList>
      <button mat-fab (click)="toggleMenu()">
        <mat-icon>close</mat-icon>
      </button>
      <a href="#about-me">{{'NAVBAR.ABOUTME'  | translate}}</a>
      <a href="#my-skills">{{'NAVBAR.SKILLS'  | translate}}</a>
      <a href="#my-projects">{{'NAVBAR.PROJECTS'  | translate}}</a>
      <a href="#contact-me">{{'NAVBAR.CONTACT'  | translate}}</a>
      <!-- <a href="#language">Language</a> -->
    </div>
  </div>

  <div class="developer-data">

      <div class="social-media-container">
        <a href="https://github.com/DanieleDona1"
          ><img src="assets/img/contact_me/github-white.svg" alt="github"
        /></a>
        <a href="mailto:contact@daniele-dona.de">
          <img src="assets/img/contact_me/mail-white.svg" alt="mail" />
        </a>

        <a href="https://www.linkedin.com/in/daniele-dona-7ab119356/"
          ><img src="assets/img/contact_me/linkedin-white.svg" alt="linkedin"
        /></a>
      </div>

    <div class="author-badge">
      <div class="navbar-logo"></div>
      <b>D. Dona</b>
      <span>developer</span>
    </div>
    <div class="developer-card">
      <h1>&nbsp;Daniele Dona&nbsp;</h1>
      <app-typewriter-animation></app-typewriter-animation>

    </div>

    <div class="scroll-btn-container">
      <a href="#about-me">
        <img src="assets/img/landing_page/arrow_down.svg" alt="arrow-down">
      </a>
    </div>

  </div>
</section>
