<section id="privacy-section">
  <div>
    <a [routerLink]="['/']">
      <img src="../../assets/img/legal/go-back-arrow.svg" alt="go-back" />
    </a>
    <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>

    <h2 id="m716">{{ "PRIVACY_POLICY.PREAMBLE.TITLE" | translate }}</h2>
    <p *ngFor="let paragraph of 'PRIVACY_POLICY.PREAMBLE.CONTENT' | translate">
      {{ paragraph }}
    </p>

    <h2>{{ "PRIVACY_POLICY.CONTENT_OVERVIEW" | translate }}</h2>
    <ul class="index">
      <li *ngFor="let item of 'PRIVACY_POLICY.CONTENT_ITEMS' | translate">
        <a class="index-link">{{ item.TEXT }}</a>
      </li>
    </ul>

    <h2 id="m3">{{ "PRIVACY_POLICY.RESPONSIBLE.TITLE" | translate }}</h2>
    <p *ngFor="let line of 'PRIVACY_POLICY.RESPONSIBLE.CONTENT' | translate">
      {{ line }}
    </p>

    <h2 id="mOverview">{{ "PRIVACY_POLICY.OVERVIEW.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.OVERVIEW.DESCRIPTION" | translate }}</p>

    <h3>{{ "PRIVACY_POLICY.OVERVIEW.DATA_TYPES.TITLE" | translate }}</h3>
    <ul>
      <li
        *ngFor="
          let item of 'PRIVACY_POLICY.OVERVIEW.DATA_TYPES.ITEMS' | translate
        "
      >
        {{ item }}
      </li>
    </ul>

    <h3>{{ "PRIVACY_POLICY.OVERVIEW.PERSON_CATEGORIES.TITLE" | translate }}</h3>
    <ul>
      <li
        *ngFor="
          let item of 'PRIVACY_POLICY.OVERVIEW.PERSON_CATEGORIES.ITEMS'
            | translate
        "
      >
        {{ item }}
      </li>
    </ul>

    <h3>{{ "PRIVACY_POLICY.OVERVIEW.PURPOSES.TITLE" | translate }}</h3>
    <ul>
      <li
        *ngFor="
          let item of 'PRIVACY_POLICY.OVERVIEW.PURPOSES.ITEMS' | translate
        "
      >
        {{ item }}
      </li>
    </ul>

    <h2 id="m2427">{{ "PRIVACY_POLICY.LEGAL_BASES.TITLE" | translate }}</h2>
    <p
      *ngFor="let paragraph of 'PRIVACY_POLICY.LEGAL_BASES.CONTENT' | translate"
    >
      {{ paragraph }}
    </p>
    <ul>
      <li *ngFor="let item of 'PRIVACY_POLICY.LEGAL_BASES.ITEMS' | translate">
        <strong>{{ item.TITLE | translate }}</strong> -
        {{ item.CONTENT | translate }}
      </li>
    </ul>

    <h2 id="m27">{{ "PRIVACY_POLICY.SECURITY_MEASURES.TITLE" | translate }}</h2>
    <p
      *ngFor="
        let paragraph of 'PRIVACY_POLICY.SECURITY_MEASURES.CONTENT' | translate
      "
    >
      {{ paragraph }}
    </p>

    <h2 id="m25">{{ "PRIVACY_POLICY.DATA_TRANSFER.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.DATA_TRANSFER.CONTENT" | translate }}</p>

    <h2 id="m24">
      {{ "PRIVACY_POLICY.INTERNATIONAL_TRANSFERS.TITLE" | translate }}
    </h2>
    <p
      *ngFor="
        let paragraph of 'PRIVACY_POLICY.INTERNATIONAL_TRANSFERS.CONTENT'
          | translate
      "
    >
      {{ paragraph }}
    </p>

    <h2 id="m12">{{ "PRIVACY_POLICY.STORAGE_DELETION.TITLE" | translate }}</h2>
    <p
      *ngFor="
        let paragraph of 'PRIVACY_POLICY.STORAGE_DELETION.CONTENT' | translate
      "
    >
      {{ paragraph }}
    </p>
    <ul class="m-elements">
      <li
        *ngFor="
          let period of 'PRIVACY_POLICY.STORAGE_DELETION.PERIODS' | translate
        "
      >
        <strong>{{ period.TITLE | translate }} - </strong
        >{{ period.CONTENT | translate }}
      </li>
    </ul>

    <h2 id="m10">{{ "PRIVACY_POLICY.RIGHTS.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.RIGHTS.DESCRIPTION" | translate }}</p>
    <ul>
      <li *ngFor="let right of 'PRIVACY_POLICY.RIGHTS.ITEMS' | translate">
        <strong>{{ right.TITLE | translate }}:</strong>
        {{ right.CONTENT | translate }}
      </li>
    </ul>

    <h2 id="m225">{{ "PRIVACY_POLICY.ONLINE_SERVICES.TITLE" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.ONLINE_SERVICES.DESCRIPTION" | translate }}</p>
    <ul class="m-elements">
      <li>
        <strong>{{
          "PRIVACY_POLICY.ONLINE_SERVICES.DATA_TYPES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ONLINE_SERVICES.AFFECTED_PERSONS" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ONLINE_SERVICES.PURPOSES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ONLINE_SERVICES.STORAGE" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ONLINE_SERVICES.LEGAL_BASIS" | translate
        }}</strong>
      </li>
    </ul>
    <p>
      <strong>{{
        "PRIVACY_POLICY.ONLINE_SERVICES.ADDITIONAL_INFO.TITLE" | translate
      }}</strong>
    </p>
    <p>
      {{ "PRIVACY_POLICY.ONLINE_SERVICES.ADDITIONAL_INFO.CONTENT" | translate }}
    </p>
    <p>
      <strong>{{
        "PRIVACY_POLICY.ONLINE_SERVICES.ADDITIONAL_INFO.LEGAL_BASIS" | translate
      }}</strong>
    </p>
    <p>
      <strong>{{
        "PRIVACY_POLICY.ONLINE_SERVICES.ADDITIONAL_INFO.DELETION" | translate
      }}</strong>
    </p>

    <h2 id="m134">{{ "PRIVACY_POLICY.COOKIES.TITLE" | translate }}</h2>
    <p
      *ngFor="let paragraph of 'PRIVACY_POLICY.COOKIES.DESCRIPTION' | translate"
    >
      {{ paragraph }}
    </p>
    <ul>
      <li *ngFor="let type of 'PRIVACY_POLICY.COOKIES.TYPES' | translate">
        <strong>{{ type.TITLE | translate }}:</strong>
        {{ type.CONTENT | translate }}
      </li>
    </ul>
    <ul class="m-elements">
      <li>
        <strong>{{ "PRIVACY_POLICY.COOKIES.DATA_TYPES" | translate }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.COOKIES.AFFECTED_PERSONS" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{ "PRIVACY_POLICY.COOKIES.LEGAL_BASIS" | translate }}</strong>
      </li>
    </ul>
    <p>
      <strong>{{
        "PRIVACY_POLICY.COOKIES.CONSENT_MANAGEMENT.TITLE" | translate
      }}</strong>
    </p>
    <p>{{ "PRIVACY_POLICY.COOKIES.CONSENT_MANAGEMENT.CONTENT" | translate }}</p>
    <p>
      <strong>{{
        "PRIVACY_POLICY.COOKIES.CONSENT_MANAGEMENT.LEGAL_BASIS" | translate
      }}</strong>
    </p>

    <h2 id="m182">
      {{ "PRIVACY_POLICY.CONTACT_MANAGEMENT.TITLE" | translate }}
    </h2>
    <p>{{ "PRIVACY_POLICY.CONTACT_MANAGEMENT.DESCRIPTION" | translate }}</p>
    <ul class="m-elements">
      <li>
        <strong>{{
          "PRIVACY_POLICY.CONTACT_MANAGEMENT.DATA_TYPES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.CONTACT_MANAGEMENT.AFFECTED_PERSONS" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.CONTACT_MANAGEMENT.PURPOSES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.CONTACT_MANAGEMENT.STORAGE" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.CONTACT_MANAGEMENT.LEGAL_BASIS" | translate
        }}</strong>
      </li>
    </ul>
    <p>
      <strong>{{
        "PRIVACY_POLICY.CONTACT_MANAGEMENT.CONTACT_FORM.TITLE" | translate
      }}</strong>
    </p>
    <p>
      {{ "PRIVACY_POLICY.CONTACT_MANAGEMENT.CONTACT_FORM.CONTENT" | translate }}
    </p>
    <p>
      <strong>{{
        "PRIVACY_POLICY.CONTACT_MANAGEMENT.CONTACT_FORM.LEGAL_BASIS" | translate
      }}</strong>
    </p>

    <h2 id="m638">
      {{ "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.TITLE" | translate }}
    </h2>
    <p
      *ngFor="
        let paragraph of 'PRIVACY_POLICY.ADVERTISING_COMMUNICATION.DESCRIPTION'
          | translate
      "
    >
      {{ paragraph }}
    </p>
    <ul class="m-elements">
      <li>
        <strong>{{
          "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.DATA_TYPES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.AFFECTED_PERSONS"
            | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.PURPOSES" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.STORAGE" | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          "PRIVACY_POLICY.ADVERTISING_COMMUNICATION.LEGAL_BASIS" | translate
        }}</strong>
      </li>
    </ul>

    <p class="seal">
      <a
        [href]="'PRIVACY_POLICY.GENERATED_BY.LINK' | translate"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        {{ "PRIVACY_POLICY.GENERATED_BY.TEXT" | translate }}
      </a>
    </p>
  </div>
</section>
