<section id="contact-me">
  <h2>{{ 'CONTACT_ME.TITLE' | translate }}</h2>

  <div class="max-width">
    <div class="contact-info-container">
      <span>{{ 'CONTACT_ME.INVITATION' | translate }}</span>
      <div class="form-description">
        <h3>{{ 'CONTACT_ME.CLIENT_QUESTION' | translate }}</h3>
        <p>{{ 'CONTACT_ME.DESCRIPTION' | translate }}</p>
      </div>

      <div class="contact-personal-data">
        <div class="mail-group">
          <img
            src="../../../assets/img/contact_me/mail-default.svg"
            alt="mail"
          /> <div class="email-container">
            E-mail:
            <a href="mailto:contact@daniele-dona.de">
               contact&#64;daniele-dona.de
            </a>
          </div>
        </div>
        <div class="phone-group">
          <img src="../../../assets/img/contact_me/phone.svg" alt="mail" />
          <a href="tel:+491756930600"> Tel.: 0175 6930600 </a>
        </div>
      </div>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-group">
        <div>
          @if (!name.valid && name.touched && !name.disabled) {
            <label class="color-red" for="name">{{ 'FORM_FIELDS.ERRORS.NAME_REQUIRED' | translate }}</label>
          } @else {
            <label for="name">{{ 'FORM_FIELDS.LABELS.NAME' | translate }}</label>
          }
          <input
            #name="ngModel"
            [(ngModel)]="contactData.name"
            type="text"
            id="name"
            name="name"
            minlength="1"
            [placeholder]="'FORM_FIELDS.PLACEHOLDERS.NAME' | translate"
            required
            [ngClass]="{
              'border-red': !name.valid && name.touched && !name.disabled
            }"
            autocomplete="off"
          />
        </div>

        <div>
          @if (!email.valid && email.touched && !email.disabled) {
            <label class="color-red" for="email">{{ 'FORM_FIELDS.ERRORS.EMAIL_REQUIRED' | translate }}</label>
          } @else {
            <label for="email">{{ 'FORM_FIELDS.LABELS.EMAIL' | translate }}</label>
          }
          <input
            #email="ngModel"
            [(ngModel)]="contactData.email"
            type="email"
            id="email"
            name="email"
            [placeholder]="'FORM_FIELDS.PLACEHOLDERS.EMAIL' | translate"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            [ngClass]="{
              'border-red': !email.valid && email.touched && !email.disabled
            }"
            autocomplete="off"
          />
        </div>
      </div>

      @if (!message.valid && message.touched && !message.disabled) {
        <label class="color-red" for="message">{{ 'FORM_FIELDS.ERRORS.MESSAGE_REQUIRED' | translate }}</label>
      } @else {
        <label for="message">{{ 'FORM_FIELDS.LABELS.MESSAGE' | translate }}</label>
      }
      <textarea
        #message="ngModel"
        minlength="2"
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        [placeholder]="'FORM_FIELDS.PLACEHOLDERS.MESSAGE' | translate"
        style="height: 200px"
        required
        [ngClass]="{
          'border-red': !message.valid && message.touched && !message.disabled
        }"
        autocomplete="off"
      ></textarea>

      <div class="privacy-wrapper">
        <div class="privacy-policy">
          <label for="privacyPolicy">
            <input
              #privacyPolicy="ngModel"
              type="checkbox"
              [(ngModel)]="contactData.privacyPolicy"
              id="privacyPolicy"
              name="privacyPolicy"
              required
              [ngClass]="{
                'border-red':
                  !privacyPolicy.valid &&
                  privacyPolicy.touched &&
                  !privacyPolicy.disabled
              }"
              hidden
            />

            @if (!contactData.privacyPolicy && privacyPolicy.touched) {
              <img src="../../../assets/img/contact_me/checkbox-error.svg" alt="error" />
              <span>
                {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY' | translate }}
                <a class="color-red" [routerLink]="['/privacy-policy']">
                  {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_LINK' | translate }}
                </a> {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_END' | translate }}
                <div class="color-red additional-msg">
                  {{ 'FORM_FIELDS.ERRORS.PRIVACY_POLICY_REQUIRED' | translate }}
                </div>
              </span>
            } @else if (contactData.privacyPolicy) {
              <img src="../../../assets/img/contact_me/checkbox-checked.svg" alt="checked" />
              <span>
                {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY' | translate }}
                <a class="color-blue" [routerLink]="['/privacy-policy']">
                  {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_LINK' | translate }}
                </a> {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_END' | translate }}
                <div class="color-red additional-msg opacity-0">
                  {{ 'FORM_FIELDS.ERRORS.PRIVACY_POLICY_REQUIRED' | translate }}
                </div>
              </span>
            } @else {
              <img class="checkbox-default" src="../../../assets/img/contact_me/checkbox-default.svg" alt="default" />
              <span>
                {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY' | translate }}
                <a class="color-blue" [routerLink]="['/privacy-policy']">
                  {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_LINK' | translate }}
                </a> {{ 'FORM_FIELDS.LABELS.PRIVACY_POLICY_END' | translate }}
                <div class="color-red additional-msg opacity-0">
                  {{ 'FORM_FIELDS.ERRORS.PRIVACY_POLICY_REQUIRED' | translate }}
                </div>
              </span>
            }
          </label>
        </div>
        <div class="submit-container">
          @if(isSubmitted){
            <span class="feedback-animation">
              {{ 'FORM_FIELDS.SUCCESS.MESSAGE_SENT' | translate }}
            </span>
          } @else {
            <span class="feedback-placeholder opacity-0">
              {{ 'FORM_FIELDS.SUCCESS.MESSAGE_SENT' | translate }}
            </span>
          }
          <input
            class="input-submit"
            type="submit"
            [value]="'FORM_FIELDS.BUTTONS.SEND' | translate"
            [ngClass]="{
              active: contactForm.valid
            }"
            [disabled]="isSubmitted"
          />
        </div>
      </div>
    </form>

    <div class="scroll-btn-container">
      <a href="#developer">
        <img src="../../../assets/img/landing_page/arrow-up.svg" alt="arrow-up">
      </a>
    </div>

  </div>
</section>
