<section id="my-projects">
  <h2>My Projects</h2>
  <span class="introduction-text">
    "Discover a selection of my work here - interact with the projects to see my skills in action."
  </span>

  <div id="project-container" class="project-container">
    <div class="project-group slide-in-right">
      <a href="./Join" class="project-img-container">
        <img
          src="../../../assets/img/my_projects/join-gimp.png"
          alt="project-img"
          loading="lazy"
        />
        <span>START</span>
      </a>
      <div class="project-description">
        <h3>Join</h3>
        <b>Javascript | HTML | CSS | Firebase</b>
        <p>
          A task manager inspired by the Kanban system. Create users and categories to assign tasks and organize and manage them via drag-and-drop functionality.
        </p>
        <div class="btn-container">
          <a href="./Join">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/Join">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>

    <div class="project-group slide-in-left row-reverse">
      <a href="./el_pollo_loco" class="project-img-container">
        <img
          src="../../../assets/img/my_projects/pollo_loco-gimp.png"
          alt="project-img"
          loading="lazy"
        />
        <span>START</span>
      </a>

      <div class="project-description">
        <h3>El Pollo Loco</h3>
        <b>Javascript | HTML | CSS</b>
        <p>
          A web browser game based on Object-Oriented Programming (OOP).<br> Help Pepe find coins and Tabasco bottles to defeat the crazy chicken.
        </p>
        <div class="btn-container">
          <a href="./el_pollo_loco">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/ElPolloLoco">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>

    <div class="project-group slide-in-right">
      <a href="./Pokedex" class="project-img-container">
        <img
          src="../../../assets/img/my_projects/pokedexneu-gimp.png"
          alt="project-img"
          loading="lazy"
        />
        <span>START</span>
      </a>
      <div class="project-description">
        <h3>Pokédex</h3>
        <b>Javascript | HTML | CSS</b>
        <p>
          Based on the PokéAPI, a simple library that provides and catalogs Pokémon information.
        </p>
        <div class="btn-container">
          <a href="./Pokedex">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/Pokedex">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
