<section id="my-projects">
  <h2>Projektportfolio</h2>
  <span class="introduction-text">
    Entdecke hier eine Auswahl meiner Arbeiten - interagiere mit den Projekten,
    um meine Fähigkeiten in Aktion zu sehen.
  </span>

  <div id="project-container" class="project-container">
    <div class="project-group">
      <a href="./Join" class="project-img-container">
        <img src="../../../assets/img/my_projects/join-gimp.png" alt="project-img">
        <span>START</span>
      </a>


      <div class="project-description">
        <h3>Join</h3>
        <b>Javascript | HTML | CSS | Firebase</b>
        <p>
          Ein Task-Manager, inspiriert vom Kanban-System.<br />
          Legen Sie Benutzer und Kategorien an, um Aufgaben zuzuweisen und via
          Drag & Drop-Funktionen zu organisieren und zu verwalten.
        </p>
        <div class="btn-container">
          <a href="./Join">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/Join">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>

      <div class="project-group row-reverse">
        <a href="./el_pollo_loco" class="project-img-container">
          <img src="../../../assets/img/my_projects/pollo_loco-gimp.png" alt="project-img">
          <span>START</span>
        </a>

        <div class="project-description">
          <h3>El Pollo Loco</h3>
        <b>Javascript | HTML | CSS</b>
        <p>
          Web-Browser Spiel basierend auf Objekt-Orientierter-Programmierung
          (OOP).<br />
          Helfe Pepe Münzen and Tabasco-Flaschen zu finden, um das verrückte
          Huhn zu besiegen.
        </p>
        <div class="btn-container">
          <a href="./el_pollo_loco">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/ElPolloLoco">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>

    <div class="project-group">
      <a href="./Pokedex" class="project-img-container">
        <img src="../../../assets/img/my_projects/pokedexneu-gimp.png" alt="project-img">
        <span>START</span>
      </a>

      <div class="project-description">
        <h3>Pokédex</h3>
        <b>Javascript | HTML | CSS</b>
        <p>
          Basierend auf der PokéAPI, einer einfachen Bibliothek, die
          Pokémon-Informationen bereitstellt und katalogisiert.
        </p>
        <div class="btn-container">
          <a href="./Pokedex">
            <button>Testen</button>
          </a>
          <a href="https://github.com/DanieleDona1/Pokedex">
            <button>GitHub</button>
          </a>
        </div>
      </div>
    </div>

</div>


</section>
