<section>
  <div>
    <a href="/">
      <img src="../../assets/img/legal/go-back-arrow.svg" alt="go-back" />
    </a>
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 DDG</p>
    <p>
      <br />
      Daniele Dona<br/>
      Hans-Thoma-Platz 30<br />
      69121 Heidelberg <br />
    </p><br>
    <p>
      <strong>Contact:</strong><br>
      Phone: +49 175 693060<br />
      E-Mail:
      <a href="mailto:contact@daniele-dona.de">contact&#64;daniele-dona.de</a>
    </p>
    <br />
    <h2>Haftungsausschluss:</h2>
    <h3>Datenschutz</h3>
    Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener
    Daten möglich. Soweit auf unseren Seiten personenbezogene Daten
    (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt
    dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne
    Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf
    hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
    E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor
    dem Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der
    Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung
    von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird
    hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich
    ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
    Werbeinformationen, etwa durch Spam-Mails, vor. Erstellt mit dem <br><br>
    Impressum-Generator von
    <a href="https://websitewissen.com" rel="dofollow">WebsiteWissen.com</a>, dem
    Ratgeber für
    <a href="https://websitewissen.com/wordpress-website-erstellen" rel="dofollow"
      >WordPress-Websites</a
    >,
    <a href="https://websitewissen.com/wordpress-hosting-vergleich" rel="dofollow"
      >WordPress-Hosting</a
    >
    und
    <a href="https://websitewissen.com/website-kosten" rel="dofollow"
      >Website-Kosten</a
    >. Rechtstext von der
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
      >Kanzlei Hasselbach.</a
    >
  </div>
</section>
