<section>
  <div>
    <a href="/">
      <img src="../../assets/img/legal/go-back-arrow.svg" alt="go-back" />
    </a>
    <h1>{{ "IMPRINT.TITLE" | translate }}</h1>
    <p>{{ "IMPRINT.LEGAL_NOTICE" | translate }}</p>
    <p>
      <br />
      {{ "IMPRINT.ADDRESS.NAME" | translate }}<br />
      {{ "IMPRINT.ADDRESS.STREET" | translate }}<br />
      {{ "IMPRINT.ADDRESS.CITY" | translate }}<br />
    </p>
    <br />
    <p>
      <strong>{{ "IMPRINT.CONTACT.TITLE" | translate }}</strong
      ><br />
      {{ "IMPRINT.CONTACT.PHONE" | translate }}<br />
      {{ "IMPRINT.CONTACT.EMAIL" | translate }}
      <a href="mailto:{{ 'IMPRINT.CONTACT.EMAIL_LINK' | translate }}">{{
        "IMPRINT.CONTACT.EMAIL_LINK" | translate
      }}</a>
    </p>
    <br />
    <h2>{{ "IMPRINT.DISCLAIMER.TITLE" | translate }}</h2>
    <h3>{{ "IMPRINT.DISCLAIMER.PRIVACY_TITLE" | translate }}</h3>
    <p *ngFor="let paragraph of 'IMPRINT.DISCLAIMER.CONTENT' | translate">
      {{ paragraph }}
    </p>

    <p>
      {{ "IMPRINT.DISCLAIMER.GENERATED_BY" | translate }}<br /><br />
      <a
        [href]="'IMPRINT.DISCLAIMER.GENERATOR_LINK.URL' | translate"
        [rel]="'IMPRINT.DISCLAIMER.GENERATOR_LINK.REL' | translate"
      >
        {{ "IMPRINT.DISCLAIMER.GENERATOR_LINK.TEXT" | translate }} </a
      >, dem
      {{ "IMPRINT.DISCLAIMER.GENERATOR_REFERENCE.TEXT" | translate }}
      <span
        *ngFor="
          let link of 'IMPRINT.DISCLAIMER.GENERATOR_REFERENCE.LINKS'
            | translate;
          let last = last
        "
      >
        <a [href]="link.URL" [rel]="link.REL">{{ link.TEXT }}</a
        >{{ last ? "" : " und " }} </span
      >.
      {{ "IMPRINT.DISCLAIMER.LEGAL_TEXT.TEXT" | translate }}
      <a
        [href]="'IMPRINT.DISCLAIMER.LEGAL_TEXT.LINK.URL' | translate"
        [rel]="'IMPRINT.DISCLAIMER.LEGAL_TEXT.LINK.REL' | translate"
      >
        {{ "IMPRINT.DISCLAIMER.LEGAL_TEXT.LINK.TEXT" | translate }}
      </a>
    </p>
  </div>
</section>
