$background-primary: rgba(38, 46, 52, 1);
$background-secondary: rgba(137, 188, 217, 1);
$text-primary: rgba(248, 245, 236, 1);

section {
  display: flex;
  justify-content: center;
  padding: 24px clamp(16px, 5vw, 200px);
  font-size: 20px;
  color: rgba(248, 245, 236, 1);
  line-height: 1.4;
  min-height: 80vh;
  word-wrap: break-word;

  a {
    text-decoration: none;
    color: rgba(248, 245, 236, 1);
  }

  >div {
    max-width: 1920px;
  }
  img{
    margin-bottom: 16px;
  }

  img:hover{
    transform: scale(1.1);
  }

  h1 {
    color: rgba(137, 188, 217, 1);
  }
  h2 {
    color: rgba(137, 188, 217, 1);
  }
}
