$primary-bg-color: rgba(38, 46, 52, 1);

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-bg-color;
}
