<section class="toolbar">
  <nav class="nav-wrapper">
    <a href="#developer" class="author-badge">
      <img src="../../../../assets/img/navbar/logo_default.svg" alt="logo" />
      <b>D. Dona</b>
      <span>developer</span>
    </a>

    <button class="burger-menu" id="burger-menu" (click)="changeDisplayFlex()">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </button>

    <div class="navigation-container">
      <a href="#about-me">{{ "NAVBAR.ABOUTME" | translate }}</a>
      <a href="#my-skills">{{ "NAVBAR.SKILLS" | translate }}</a>
      <a href="#my-projects">{{ "NAVBAR.PROJECTS" | translate }}</a>
      <a href="#contact-me">{{ "NAVBAR.CONTACT" | translate }}</a>
    </div>

    <div class="language-container">
      <button
        (click)="translateWebsite('de')"
        [ngClass]="{ active: isActive('de') }"
        aria-label="Sprache auf Deutsch ändern"
      >
        <img [src]="deImageSrc" alt="Deutsche Sprache" />
      </button>
      <button
        (click)="translateWebsite('en')"
        [ngClass]="{ active: isActive('en') }"
        aria-label="Change language to English"
      >
        <img [src]="enImageSrc" alt="English language" />
      </button>
    </div>
  </nav>
</section>
