<nav>
  <div class="nav-wrapper">
    <a href="#developer" class="author-badge">
      <div class="logo.img"></div>
      <b>D. Dona</b>
      <span>developer</span>
    </a>
    <div class="navigation-container">
      <a href="#why-me">Why me</a>
      <a href="#my-skills">Skills</a>
      <a href="#my-projects">Projects</a>
      <a href="#contact-me">Contact</a>
    </div>
    <!-- <div class="d-none"> -->
    <div class="language-container">
      <div class="d-none"></div>
      <div class="d-none"></div>
    </div>
  </div>
</nav>
