<footer>
  <div class="footer-wrapper">
    <div class="legal-link">
      <div>
        <a href="/imprint">Imprint</a>
        <div>© 2025 <span>Daniele Dona</span></div>
      </div>
    </div>

    <div class="social-profil-wrapper">
      <a href="#developer" class="author-badge">
        <img src="assets/img/navbar/logo_default.svg" alt="logo" />
        <b>D. Dona</b>
        <span>developer</span>
      </a>
      <div class="social-media-container">
        <a href="https://github.com/DanieleDona1"
          ><img src="assets/img/contact_me/github-white.svg" alt="github"
        /></a>
        <a href="mailto:contact@daniele-dona.de">
          <img src="assets/img/contact_me/mail-white.svg" alt="mail" />
        </a>

        <a href="https://www.linkedin.com/in/daniele-dona-7ab119356/"
          ><img src="assets/img/contact_me/linkedin-white.svg" alt="linkedin"
        /></a>
      </div>
    </div>
  </div>
</footer>
